<nav>
<header>
    <img class="logo" src="{{logoImg}}">
    <div style="clear:both;"></div>
</header>
<section>
        <div class="firstImpression">
            <p>{{pageTitle}}</p>
        </div>
        <div class="aboutUs">
            <div class="dot"><i class="fas fa-phone"></i></div>
            <div class="dot"><i class="far fa-thumbs-up"></i></div>
            <div class="dot"><i class="fas fa-code-branch"></i></div>
            <p>
               {{bodyText}}
            </p>
            <button class="button button-positive" ng-show="callMe" href="">Ligue-me</button>
            <button class="button button-dark" ng-show="call" href="">Ligar</button>
            <button class="button button-dark" ng-show="callMeLater" href="">Ligue-me mais tarde</button>
            <button class="button button-dark" ng-show="email" href="">Quero mandar um email</button>
            <button class="button button-dark" ng-show="whatsapp" href="">Quero enviar uma mensagem por Whatsapp</button>
        </div>
</section>
<div cla l ss="pre"></div>
<footer>
    <a href="http://{{footerLink}}" target="blank">
    <img src="{{footerImg}}" />
        <p>{{footerLink}}</p>
    </a>
</footer>
</nav>