<nav>
<header>
    <img class="logo" src="{{data.logoImg}}">
    <div style="clear:both;"></div>
    <style>
        .firstImpression{
            background-image: url("{{data.backgroundImg}}");
        }
        section {
            background-color: {{data.colorPicker }}; 
        }
        header{
            background-color: {{data.colorPicker }}; 
        }
        .primaryColor {
            background-color: {{data.primaryColor }};
        }
        .secundaryColor {
            background-color: {{data.secundaryColor }};
        }
    </style>
</header>
<section>
        <div class="firstImpression">
            <p>{{data.pageTitle}}</p>
        </div>
        <div class="aboutUs">
            <div class="dot"><i class="fas fa-phone"></i></div>
            <div class="dot"><i class="far fa-thumbs-up"></i></div>
            <div class="dot"><i class="fas fa-code-branch"></i></div>
            <p>
               {{data.bodyText}}
            </p>
            <div >
                <button class="button primaryColor" ng-show="data.callMe" href="">
                    <div ng-hide="leftJustify">
                        {{data.callMePhrase}}
                    </div>
                    <div class="toLeft" ng-hide="!leftJustify">
                        <i class="fas fa-phone" ng-hide="!showIcons"></i>
                        {{data.callMePhrase}}
                    </div>
                </button>
                <button class="button secundaryColor" ng-show="data.call" href="">
                    <div ng-hide="leftJustify">
                        {{data.callPhrase}}
                    </div>
                    <div class="toLeft" ng-hide="!leftJustify">
                        <i class="fas fa-phone" ng-hide="!showIcons"></i>
                        {{data.callPhrase}}
                    </div>
                </button>
                <button class="button secundaryColor" ng-show="data.callMeLater" href="">
                    <div ng-hide="leftJustify">
                        {{data.callMeLaterPhrase}}
                    </div>
                    <div class="toLeft" ng-hide="!leftJustify">
                        <i class="far fa-calendar" ng-hide="!showIcons"></i>
                        {{data.callMeLaterPhrase}}
                    </div>
                </button>
                <button class="button secundaryColor" ng-show="data.email" href="">
                    <div ng-hide="leftJustify">
                        {{data.emailPhrase}}
                    </div>
                    <div class=primaryColor"toLeft" ng-hide="!leftJustify">
                        <i class="fas fa-at" ng-hide="!showIcons"></i>
                        {{data.emailPhrase}}
                    </div>
                </button>
                <button class="button secundaryColor" ng-show="data.whatsapp" href="">
                    <div ng-hide="leftJustify">
                        {{data.whatsappPhrase}}
                    </div>
                    <div class="toLeft" ng-hide="!leftJustify">
                        <i class="fab fa-whatsapp" ng-hide="!showIcons"></i>
                        {{data.whatsappPhrase}}
                    </div>
                </button>
            </div>
        </div>
</section>
<div class="pre primaryColor"></div>
<footer class="secundaryColor">
    <a href="http://{{data.footerLink}}" target="blank">
    <img src="{{data.footerImg}}" />
        <p>{{data.footerLink}}</p>
    </a>
</footer>
</nav>