<!DOCTYPE html>
<html lang="en" ng-app="appname">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/templates.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        var appname = angular.module('appname', []);
        appname.controller('builderController', ($scope, $http) => {
            $scope.data = {};
            $scope.data.logoImg = '../images/pontal_telecom.png';
            $scope.data.backgroundImg = "../images/background-happy-woman.jpg";
            $scope.data.pageTitle = 'A pontal vai alem com você';
            $scope.data.bodyText = 'A marca Pontal representa o progresso diante de um cenário cada vez mais desafiador: conectar empresas com seus públicos de forma ágil e moderna.';
            $scope.data.footerImg = '../images/pontal_telecom-logo.png';
            $scope.data.footerLink = 'www.pontaltelcom.com.br';
            $scope.data.callMe = true;
            $scope.data.callMeLater = true;
            $scope.data.call = true;
            $scope.data.email = true;
            $scope.data.chat = true;
            $scope.data.whatsapp = true;
            $scope.data.callMePhrase = 'Ligue-me';
            $scope.data.callMeLaterPhrase = 'Ligue-me mais tarde';
            $scope.data.callPhrase = 'Ligar';
            $scope.data.emailPhrase = 'Envie um email';
            $scope.data.chatPhrase = 'Entre em contato por chat';
            $scope.data.whatsappPhrase = 'Mande uma mensagem via whatsapp';
            $scope.data.leftJustify = false;
            $scope.data.showIcons = false;
            $scope.data.secundaryColor = "#dddddd";
            $scope.data.backgroundColor = "#ffffff";
            $scope.data.primaryColor = "#337ab7"; 
            $scope.data.secundaryColor = '#444444';
            $scope.data.slug = '<%= templateModel %>';
            $scope.data.callValue = '';
            $scope.data.callMeValue = '';
            $scope.data.chatValue = '';
            $scope.data.whatsappValue = '';
            $scope.data.sendEmailValue = '';

            $scope.buildJson = () => {
                $http({
                    method: 'POST',
                    url: '/process',
                    params: $scope.data
                })
                .then(sucess => {
                    alert('objeto inserido com sucesso no banco de dados');
                }, err => {
                    alert('houve um erro ao tentar processar', err);
                });
            };

        });
        </script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-controller="builderController">
    <img style="width:200px;float: left;" src="http://localhost:3000/images/beta.png" alt="beta">
    <form role="form" id="formEntry" name="formEntry" method="post" onsubmit="" action="">
        <div class="form-group col-md-12">
            <label for="">
                Nome da Landing Page
                <input type="text" class="form-control" ng-model="data.templateName" required>
            </label>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                    aria-selected="true">estilos</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                    aria-selected="false">textos</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
                    aria-selected="false">botoes</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <br>
                Imagens
                <div class="form-group col-md-12">
                    <label for="logoName">Link da imagem</label>
                    <input type="text" ng-model="data.logoImg" class="form-control">
                </div>
                <div class="form-group col-md-12">
                    <label for="logoBackgroud">Imagem de fundo</label>
                    <input type="text" ng-model="data.backgroundImg" class="form-control">
                </div>
                <div class="form-group col-md-12">
                    <label for="zip">logo do rodapé</label>
                    <input type="text" name="zip" id="zip" ng-model="data.footerImg" class="form-control" value="" />
                </div>
                cores
                <div class="form-group col-md-12">
                    <label for="logoName">cor de fundo</label>
                    <input type="color" name="favcolor" ng-model="data.backgroundColor"> <br>
                </div>
                <div class="form-group col-md-12">
                    <label for="logoBackgroud">cor primaria</label>
                    <input type="color" name="favcolor" ng-model="data.primaryColor"> <br>
                </div>
                <div class="form-group col-md-12">
                    <label for="zip">cor secundaria</label>
                    <input type="color" ng-model="data.secundaryColor" name="favcolor" >
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <br>
                <div class="form-group col-md-12">
                    <label for="fname">Frase da pagina</label>
                    <input type="text" name="firstName" ng-model="data.pageTitle" id="fname" class="form-control" value="" />
                </div>
                <div class="form-group col-md-12">
                    <label for="lname">Texto</label>
                    <input type="textArea" name="lastName" ng-model="data.bodyText" id="lname" class="form-control" value="" />
                </div>
                <div class="form-group col-md-12">
                    <label for="zip">Link do rodapé</label>
                    <input type="text" name="zip" id="zip" ng-model="data.footerLink" class="form-control" value="" />
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="form-group col-md-12">
                    <br>
                    <label>
                        <input type="checkbox" ng-model="data.leftJustify"> texto a esquerda
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" ng-model="data.showIcons" ng-disabled="!data.leftJustify"> ativar logos
                    </label>
                </div>
                <div class="form-group col-md-12">
                    <label>
                        <input ng-model="data.callMe" type="checkbox" checked="true" id="exampleCheck1"> Call Me
                    </label>
                    <br>
                    <input type="text" name="callMePhrase" ng-model="data.callMePhrase" class="form-control" />
                    <input type="text" name="callMeValue" ng-model="data.callMeValue" class="form-control" placeholder="Digite o numero aqui"/>
                </div>
                <div class="form-group col-md-12">
                    <label>
                        <input ng-model="data.callMeLater" type="checkbox" checked="true" id="exampleCheck1"> Call Me Later
                    </label>
                    <input type="text" name="callMeLaterPhrase" ng-model="data.callMeLaterPhrase" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <label>
                        <input ng-model="data.call" type="checkbox" checked="true" id="exampleCheck1"> Call
                    </label>
                    <input type="text" name="callPhrase" ng-model="data.callPhrase" class="form-control" />
                    <input type="text" name="callValue" ng-model="data.callValue" class="form-control" placeholder="Digite o numero aqui" />
                </div>
                <div class="form-group col-md-12">

                    <label>
                        <input ng-model="data.email" type="checkbox" checked="true" id="exampleCheck1"> Enviar E-mail
                    </label>
                    <input type="text" name="sendEmailPhrase" ng-model="data.emailPhrase" class="form-control" />
                    <input type="text" name="sendEmailValue" ng-model="data.emailValue" class="form-control" placeholder="Digite o email aqui" />
                </div>
                <div class="form-group col-md-12">
                    <label>
                        <input ng-model="data.whatsapp" type="checkbox" checked="true" id="exampleCheck1"> Whatsapp
                    </label>
                    <input type="text" name="whatsappPhrase" ng-model="data.whatsappPhrase" class="form-control" />
                    <input type="text" name="whatsappValue" ng-model="data.whatsappValue" class="form-control" placeholder="Digite o numero aqui" />
                </div>
                <div class="form-group col-md-12">
                    <label>
                        <input ng-model="data.chat" type="checkbox" checked="true" id="exampleCheck1"> chat
                    </label>
                    <input type="text" name="chatPhrase" ng-model="data.chatPhrase" class="form-control" />
                    <input type="text" name="chatValue" ng-model="data.chatValue" class="form-control" placeholder="Digite a url de chat aqui"/>
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <input type="button" name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" ng-click="buildJson()"
                class="btn btn-success btn-lg" />
        </div>
    </form>
    <div class="templateModel">
        <%- include(templateRouter) %>
    </div>
</body>

</html>